<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial scale=1.0">
    <title>kiosk</title>
    <script type="module" src="js/script.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div class="center">
		<div>
			<span id="time" style="margin-right: 7px;"></span>
			<span id="day-or-night" style="margin-left: 7px;"></span>
		</div>
    </div>
	<div class="top">
		<span id="date" style="color: #f38ba8;"></span>
		<br>
		<span id="hijri" style="color: #f5e0dc; font-size: 70%;"></span>
	</div>
	<div class="right">
		<div>
			<span id="temp"></span>
			<div style="font-size: 70%;">
				(<span id="temp-min"></span>, <span id="temp-max"></span>)
			</div>
		</div>
		<br>
		<div>
			<div style="font-size: 40%;">feels like</div>
			<span id="feels-temp"></span>
			<div style="font-size: 70%;">
				(<span id="feels-temp-min"></span>, <span id="feels-temp-max"></span>)
			</div>
		</div>
	</div>
	<div class="left">
		<div style="display: flex; align-items: center;">
			<span id="weather-glyph"></span>
			<span id="weather" style="margin-left: 20px;"></span>
		</div>
		<div style="color: #c4e7ec; display: flex; align-items: center;">
			<span id="wind-speed" style="margin-right: 10px;"></span>
			<span id="wind-direction" style="margin-left: 10px;"></span>
		</div>
		<div>
			<span id="humidity" style="color: #89b4fa;"></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<div class="bottom">
	</div>
</body>
</html>
