@font-face {
	font-family: JetBrainsMono;
	src: url("../fonts/JetBrainsMonoNerdFont-Medium.ttf") format("truetype");
}

body {
    background-color: #1e1e2e;
    margin: 2%;
    border: 0px;
    padding: 0%;
    font-size: 40px;
    font-family: JetBrainsMono;
	white-space: nowrap;
	text-align: center;
}
span {
	color: "#cdd6f4";
}

.top {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
}
.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.bottom {
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translate(-50%, 0);
}
.right {
	position: absolute;
	top: 50%;
	left: 100%;
	transform: translate(-109%, -50%);
	text-align: right;
}
.left {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(9%, -50%);
	text-align: left;
}
